body {
   background: rgba(0, 0, 0, .10) url("../images/background.jpg");
   background-attachment: fixed;
   background-position: center;
   background-blend-mode: darken;
   background-size: cover;
}

#img {
   width: 130px;
}

table {
   cursor: pointer;
   background-color: rgba(172, 196, 212, 0.911);
   border-radius: 8px;
   border-collapse: collapse;
   border-style: hidden;
   font-size: 17px;
}

table tr :hover {
   background-color: rgba(156, 189, 211, 0.911);
}

#AdBanner {
   float: left;
   width: 180px;
   margin-left: 10px;
}

/* On screens that are 992px or less */

@media screen and (max-width: 992px) {
   body {
      display: flex;
      flex-direction: column-reverse;
   }
   img {
      width: 120px;
   }
   .container {
      order: 1;
      margin-top: 10px;
      text-align: center;
      align-items: center;
   }
   #AdBanner {
      order: 2;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 160px;
      position: absolute;
      left: 48%;
      transform: translateX(-50%);
   }
}